@charset "UTF-8";
* {
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #141414;
  background-color: #F3F3F7;
}

h1 {
  font-size: 18px;
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 14px;
}

@media screen and (min-width: 960px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 12px;
}

@media screen and (min-width: 960px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 10px;
}

@media screen and (min-width: 960px) {
  h4 {
    font-size: 16px;
  }
}

p {
  font-size: 14px;
  font-weight: normal;
  color: #767676;
}

@media screen and (min-width: 960px) {
  p {
    font-size: 18px;
  }
}

.btn {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #141414;
  margin: 24px 8px 40px;
  padding: 14px 0;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (min-width: 960px) {
  .btn {
    font-size: 18px;
    width: 382px;
    margin: 72px auto 136px;
  }
}

header {
  position: relative;
  height: 46px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 560px) {
  header {
    width: 50%;
    margin-left: 50%;
  }
}

@media screen and (min-width: 960px) {
  header {
    height: 103px;
  }
}

header .header__logo {
  position: absolute;
  width: 43.25px;
  margin: 11px auto;
  right: 0;
  left: 0;
}

@media screen and (min-width: 960px) {
  header .header__logo {
    width: 96px;
    margin-top: 21px;
  }
}

header .header__menu {
  position: absolute;
  right: 17px;
  margin: 18px 0;
}

.magazine {
  overflow-y: hidden;
  position: relative;
  background-color: #FFFFFF;
  margin-bottom: 32px;
}

@media screen and (min-width: 560px) {
  .magazine {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    top: -46px;
    z-index: -1000;
  }
}

@media screen and (min-width: 960px) {
  .magazine {
    top: -103px;
  }
}

.magazine__headline {
  height: 381px;
  overflow: hidden;
}

@media screen and (min-width: 560px) {
  .magazine__headline {
    display: block;
    width: 50%;
    height: auto;
  }
}

.magazine__BackGround {
  width: 100%;
  height: 100%;
}

.magazine__thumbnail {
  position: absolute;
  right: 0;
  left: 0;
  margin: 23px auto;
}

@media screen and (min-width: 560px) {
  .magazine__thumbnail {
    top: 0;
    left: 14%;
    right: unset;
  }
}

.magazine__main {
  margin: auto;
  padding: 0 16px;
  overflow-y: hidden;
}

@media screen and (min-width: 560px) {
  .magazine__main {
    margin: auto;
    padding: 0 24px;
    width: 50%;
    margin-top: 46px;
  }
}

@media screen and (min-width: 960px) {
  .magazine__main {
    margin-top: 136px;
    padding: 0 48px;
  }
}

.magazine__sentence {
  margin: auto;
  text-align: justify;
}

.magazine__numbering {
  margin-top: 16px;
}

@media screen and (min-width: 960px) {
  .magazine__numbering {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 960px) {
  .magazine__title {
    margin-bottom: 32px;
  }
}

.magazine__text {
  font-weight: lighter;
  margin-top: 16px;
  line-height: 24px;
  text-align: justify;
}

@media screen and (min-width: 960px) {
  .magazine__text {
    line-height: 40px;
  }
}

.agenda {
  position: relative;
  top: -33px;
  height: 368px;
  background-color: #FFFFFF;
  margin-bottom: 32px;
}

@media screen and (min-width: 960px) {
  .agenda {
    height: initial;
    top: -135px;
  }
}

.agenda__headline {
  position: relative;
  height: 34px;
  margin-bottom: 12px;
}

@media screen and (min-width: 960px) {
  .agenda__headline {
    height: 50px;
    margin: 48px 0 12px 0;
  }
}

.agenda__text {
  position: absolute;
  top: 10px;
  left: 16px;
}

.agenda__icon {
  position: absolute;
  top: 16px;
  right: 24px;
}

.agenda__list {
  margin: auto;
}

.agenda__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px;
  border-style: solid;
  border-color: #DEDEDE;
  margin: auto;
  margin: 8px 16px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 960px) {
  .agenda__item {
    position: relative;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    height: 93px;
    margin: auto 106px;
  }
}

.agenda__numbering {
  font-size: 18px;
  color: #003F70;
  left: 0;
  margin-right: 16px;
}

@media screen and (min-width: 960px) {
  .agenda__numbering {
    font-size: 26px;
    padding-left: 48px;
  }
}

.agenda__title {
  top: 0;
  bottom: 0;
  left: 27px;
  width: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 16px;
}

@media screen and (min-width: 960px) {
  .agenda__title {
    width: auto;
    padding-left: 64px;
  }
}

.agenda__thumbnail {
  bottom: 0;
  right: 0;
  width: 140px;
  height: 61px;
  margin-top: 8px;
}

@media screen and (min-width: 960px) {
  .agenda__thumbnail {
    position: absolute;
    width: 190px;
    height: 77px;
    margin-bottom: 8px;
    right: 24px;
  }
}

.AllMagazines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: -32px;
  background-color: #FFFFFF;
}

@media screen and (min-width: 560px) {
  .AllMagazines {
    top: -77px;
  }
}

@media screen and (min-width: 960px) {
  .AllMagazines {
    top: -134px;
  }
}

.AllMagazines__AllBlocks {
  margin-top: 48px;
}

.AllMagazines__block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 98px;
  height: 206px;
  margin: 0 12px 21px;
}

@media screen and (min-width: 960px) {
  .AllMagazines__block {
    width: 187px;
    height: 371px;
    margin: 0 24px 56px;
  }
}

.AllMagazines__thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  width: 98px;
  height: 147px;
  -webkit-filter: drop-shadow(0px 0px 6px #BFBFBF);
          filter: drop-shadow(0px 0px 6px #BFBFBF);
}

@media screen and (min-width: 960px) {
  .AllMagazines__thumbnail {
    width: 187px;
    height: 279px;
  }
}

.AllMagazines__numbering {
  position: absolute;
  top: 153px;
  left: 0;
}

@media screen and (min-width: 960px) {
  .AllMagazines__numbering {
    top: 291px;
  }
}

.AllMagazines__title {
  position: absolute;
  top: 170px;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 960px) {
  .AllMagazines__title {
    top: 311px;
  }
}

.footer {
  background-color: #272727;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__LogoWrapper {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 64px;
  margin-right: 56px;
}

@media screen and (min-width: 960px) {
  .footer__LogoWrapper {
    display: inline-table;
  }
}

.footer__logo {
  display: none;
  height: 49px;
}

@media screen and (min-width: 960px) {
  .footer__logo {
    display: initial;
  }
}

.footer__link {
  margin: 28px 0px 0px 16px;
}

@media screen and (min-width: 960px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: initial;
  }
}

.footer__text {
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}

@media screen and (min-width: 960px) {
  .footer__text {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: initial;
    margin-right: 12px;
  }
}

.footer__border {
  display: none;
  font-family: "Noto Sans CJK JP";
  font-weight: normal;
  font-size: 12px;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .footer__border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 12px;
  }
}

.footer__CopyRight {
  color: #AEAEAE;
  font-size: 8px;
  font-weight: normal;
  margin: 25px 0px 32px 0px;
}

@media screen and (min-width: 960px) {
  .footer__CopyRight {
    font-size: 9px;
  }
}

.footer__SocialText {
  margin: -43px 0px 71px 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 960px) {
  .footer__SocialText {
    -webkit-transform: none;
            transform: none;
    margin: initial;
  }
}

.footer__FollowUs {
  font-size: 10px;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (min-width: 960px) {
  .footer__FollowUs {
    font-size: 9px;
  }
}

.footer__SocialIcon {
  margin: 19px 0 0 80px;
}

@media screen and (min-width: 960px) {
  .footer__SocialIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: initial;
  }
}

.footer__icon {
  color: #FFFFFF;
  text-decoration: none;
  margin: 8px 0;
  display: block;
}

@media screen and (min-width: 960px) {
  .footer__icon {
    margin: 0 0 0 8px;
  }
}
/*# sourceMappingURL=magazine_sp.css.map */