@charset "UTF-8";
$breakpoints: (
  'tb': 'screen and (min-width: 560px)',
  'pc': 'screen and (min-width: 960px)',
) !default;
@mixin mq($breakpoint: tb) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//Premise
$main: #6B8EF0;
$sub: #003F70;
$white: #FFFFFF;
$OffWhite: #F3F3F7;
$black: #141414;
$gray: #767676;
$DarkGray: #393E42;
* {
  overflow-x: hidden;
  margin: 0;
}
body {
  font-family: "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $black;
  background-color: $OffWhite;
}

//Text
h1 {
  font-size: 18px;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 32px;
  }
}
h2 {
  font-size: 14px;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 24px;
  }
}
h3 {
  font-size: 12px;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 20px;
  }
}
h4 {
  font-size: 10px;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 16px;
  }
}
p {
  font-size: 14px;
  font-weight: normal;
  color: $gray;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 18px;
  }
}

//Molecules
.btn {
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: $white;
  background-color: $black;
  margin: 24px 8px 40px;
  padding: 14px 0;
  left: 0;
  right: 0;
  text-align: center;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 18px;
    width: 382px;
    margin: 72px auto 136px;
  }
}
.btn--icon {
}

//header
header{
  position: relative;
  height: 46px;
  background-color: $white;
  @include mq() {
    width: 50%;
    margin-left: 50%;
  }
  @include mq(pc) {
    height: 103px;
  }
  .header{
  &__logo {
    position: absolute;
    width: 43.25px;
    margin: 11px auto;
    right: 0;
    left: 0;
    @include mq() {
    }
    @include mq(pc) {
      width: 96px;
      margin-top: 21px;
    }
  }
  &__menu{
    position: absolute;
    right: 17px;
    margin: 18px 0;
  }
  }
}

//magazine
.magazine{
  overflow-y: hidden;
  position: relative;
  background-color: $white;
  margin-bottom: 32px;
  @include mq() {
    display: flex;
    height: auto;
    top: -46px;
    z-index: -1000;
  }
  @include mq(pc) {
    top: -103px;
  }
  &__headline{
  height:  381px;
  overflow: hidden;
    @include mq() {
      display: block;
      width: 50%;
      height: auto
      ;
    }
    @include mq(pc) {
    }
  }
  &__BackGround{
    width: 100%;
    height: 100%;
  }
  &__thumbnail{
    position: absolute;
    right: 0;
    left: 0;
    margin: 23px auto;
      @include mq() {
        top: 0;
        left: 14%;
        right: unset;
      }
      @include mq(pc) {
      }
  }
  &__main{
    margin: auto;
    padding: 0 16px;
    overflow-y: hidden;
    @include mq() {
      margin: auto;
      padding: 0 24px;
      width: 50%;
      margin-top: 46px;
    }
    @include mq(pc) {
      margin-top: 136px;
      padding: 0 48px;
    }
  }
  &__sentence{
    margin: auto;
    text-align: justify;
  }
  &__numbering{
    margin-top: 16px;
    @include mq() {
    }
    @include mq(pc) {
      margin-bottom: 20px;
    }
  }
  &__title{
    @include mq() {
    }
    @include mq(pc) {
      margin-bottom: 32px;
    }
  }
  &__text{
    font-weight: lighter;
    margin-top: 16px;
    line-height: 24px;
    text-align: justify;
    @include mq() {
    }
    @include mq(pc) {
      line-height: 40px;
    }
  }
}

//agenda
.agenda{
  position: relative;
  top: -33px;
  height: 368px;
  background-color: $white;
  margin-bottom: 32px;
  @include mq() {
  }
  @include mq(pc) {
    height: initial;
    top: -135px;
  }
  &__headline{
    position: relative;
    height: 34px;
    margin-bottom: 12px;
    @include mq() {
    }
    @include mq(pc) {
      height: 50px;
      margin: 48px 0 12px 0;
    }
  }
  &__text{
    position: absolute;
    top: 10px;
    left: 16px;
  }
  &__icon{
    position: absolute;
    top: 16px;
    right: 24px;
  }
  &__list{
    margin: auto;
  }
  &__item{
    display: flex;
    border-top: 1px;
    border-style: solid;
    border-color: #DEDEDE;
    margin: auto;
    margin: 8px 16px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    align-items: center;
    justify-content: center;
    @include mq() {
    }
    @include mq(pc) {
      position: relative;
      justify-content: initial;
      height: 93px;
      margin: auto 106px;
    }
  }
  &__numbering{
    font-size: 18px;
    color: #003F70;
    left: 0;
    margin-right: 16px;
    @include mq() {
    }
    @include mq(pc) {
      font-size: 26px;
      padding-left: 48px;
    }
  }
  &__title{
    top: 0;
    bottom: 0;
    left: 27px;
    width: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    @include mq() {
    }
    @include mq(pc) {
      width: auto;
      padding-left: 64px;
    }
  }
  &__thumbnail{
    bottom: 0;
    right: 0;
    width: 140px;
    height: 61px;
    margin-top: 8px;
    @include mq() {
    }
    @include mq(pc) {
      position: absolute;
      width: 190px;
      height: 77px;
      margin-bottom: 8px;
      right: 24px;
    }
  }
}

//AllMagazines
.AllMagazines{
  display: flex;
  position: relative;
  top: -32px;
  background-color: $white;
  @include mq() {
    top: -77px;
  }
  @include mq(pc) {
    top: -134px
  }
  &__AllBlocks{
    margin-top: 48px;
  }
  &__block{
    display: inline-flex;
    position: relative;
    width: 98px;
    height: 206px;
    margin: 0 12px 21px;
    @include mq() {
    }
    @include mq(pc) {
      width: 187px;
      height: 371px;
      margin: 0 24px 56px;
    }
  }
  &__thumbnail{
    position: absolute;
    top: 0;
    right: 0;
    width: 98px;
    height: 147px;
    filter: drop-shadow(0px 0px 6px #BFBFBF);
    @include mq() {
    }
    @include mq(pc) {
      width: 187px;
      height: 279px;
    }
  }
  &__numbering{
    position: absolute;
    top: 153px;
    left: 0;
    @include mq() {
    }
    @include mq(pc) {
      top: 291px;
    }
  }
  &__title{
    position: absolute;
    top: 170px;
    left: 0;
    justify-content: center;
    @include mq() {
    }
    @include mq(pc) {
      top: 311px;
    }
  }
}

//footer
.footer {
  background-color: #272727;
  font-weight: 400;
  margin-top: 64px;
  margin-bottom: 44px;
  &__container{
    position: relative;
    padding-top: 28px;
    padding-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    @include mq() {
    }
    @include mq(pc) {
      display: flex;
      align-items: center;
      margin-left: 32px;
      margin-right: 32px;
      padding-top: 48px;
      padding-bottom: 40px;
    }
  }
  &__LogoWrapper{
    display: none;
    @include mq() {
    }
    @include mq(pc) {
      display: block;
    }
  }
  &__logo {
    width: 85px;
  }
  &__nav {
    box-shadow: 0px  -2px 6px 6px #F5F5F5;
    @include mq() {
    }
    @include mq(pc) {
      display: flex;
      flex: 1 1 auto;
      margin: auto 0 auto 56px;
    }
  }
  &__text {
    display: flex;
    color: $white;
    font-weight: 500;
    margin-bottom: 12px;
    @include mq() {
    }
    @include mq(pc) {
      font-size: 12px;
      margin-bottom: initial;
    }
  }
  &__border{
    display: none;
    @include mq() {
    }
    @include mq(pc) {
      display: flex;
      font-size: 12px;
      margin: 0 8px;
    }
  }
  &__about{
  }
  &__social{
    display: flex;
    position: absolute;
    top: 28px;
    right: 0;
    justify-content: flex-end;
    align-items: flex-start;
    @include mq() {
    }
    @include mq(pc) {
      position: initial;
      align-items: center;
    }
  }
  &__SocialTitle {
    font-size: 10px;
    font-weight: normal;
    color: $white;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    margin-right: 8px;
    @include mq() {
    }
    @include mq(pc) {
      font-size: 9px;
      writing-mode: initial;
      margin-right: initial;
    }
  }
  &__SocialItems{
    display: block;
    @include mq() {
    }
    @include mq(pc) {
      display: flex;
    }
  }
  &__SocialIcon {
    height: 24px;
    width: 24px;
    margin-bottom: 8px;
    @include mq() {
    }
    @include mq(pc) {
      height: 20px;
      width: 20px;
      margin-left: 8px;
      margin-bottom: initial;
    }
  }
  &__icon {
    @include mq() {
    }
    @include mq(pc) {
    }
  }
  &__CopyRight {
    color: #AEAEAE;
    font-size: 8px;
    font-weight: normal;
    margin-top: 12px;
    @include mq() {
    }
    @include mq(pc) {
      font-size: 9px;
      text-align: right;
    }
  }
}