@charset "UTF-8";

//Premise
$main: #6B8EF0;
$sub: #003F70;
$white: #FFFFFF;
$OffWhite: #F3F3F7;
$black: #141414;
$gray: #767676;
$DarkGray: #393E42;
* {
  overflow-x: hidden;
  margin: 0;
}
body {
  font-family: "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $black;
  background-color: $OffWhite;
}

//Text
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}
h5 {
  font-size: 10px;
}
p {
  font-size: 14px;
  font-weight: normal;
  color: $gray;
}

//Molecules
.btn {
  display: block;
  width: 327px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: $white;
  background-color: $black;
  margin: 24px auto auto;
  padding: 14px 0;
  left: 0;
  right: 0;
  text-align: center;
}
.btn--slack {
}
.btn--GoogleCalender {
}

//header
.header{
  /*position: fixed;*/
  &__header{
  position: relative;
  height: 46px;
  background-color: $white;
  }
  &__logo {
    position: absolute;
    width: 43.25px;
    margin: 11px auto;
    right: 0;
    left: 0;
  }
  &__menu{
    position: absolute;
    right: 17px;
    margin: 18px 0;
  }
}

//magazine
.magazine{
  position: relative;
  height: 738px;
  background-color: $white;
  margin-bottom: 32px;
  &__top{
  height:  381px;
  overflow: hidden;
  }
  &__BackGround{
    width: 100%;
  }
  &__thumbnail{
    position: absolute;
    right: 0;
    left: 0;
    margin: 23px auto;
  }
  &__sentence{
    margin: auto;
    text-align: justify;
    width: 343px;
  }
  &__featured{
    margin-top: 16px;
  }
  &__title{
  }
  &__text{
    font-weight: lighter;
    margin-top: 16px;
    line-height: 21px;
  }
}

//agenda
.agenda{
  position: relative;
  height: 368px;
  background-color: $white;
  margin-bottom: 32px;
  &__agenda{
    position: relative;
    height: 26px;
    margin-bottom: 12px;
  }
  &__text{
    position: absolute;
    top: 10px;
    left: 16px;
  }
  &__icon{
    position: absolute;
    top: 16px;
    right: 24px;
  }
  &__hr{
    width: 357px;
    height: 1px;
    border-style: solid;
    background-color: #DEDEDE;
    right: 0;
    left: 0;
    margin: auto;
    margin-bottom: 8px;
    border: none;
  }
  &__article{
    position: relative;
    width: 349px;
    height: 61px;
    margin: auto;
    margin-bottom: 8px;
  }
  &__numbering{
    position: absolute;
    font-size: 18px;
    color: #003F70;
    left: 0;
    margin: 17px 0;
  }
  &__title{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 27px;
    font-size: 14px;
    width: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__thumbnail{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 140px;
    height: 61px;
  }
}

//AllMagazines
.AllMagazines{
  height: 999px;
  background-color: $white;
  &__AllBlocks{
    height: 920px;
    margin-top: 48px;
  }
  &__block{
    display: inline-flex;
    position: relative;
    width: 98px;
    height: 206px;
    margin: 0 12px 21px;
  }
  &__thumbnail{
    position: absolute;
    top: 0;
    right: 0;
    width: 98px;
    height: 147px;
    filter: drop-shadow(0px 0px 6px #BFBFBF);
  }
  &__numbering{
    position: absolute;
    top: 153px;
    right: 0;
    font-size: 10px;
    width: 98px;
  }
  &__title{
    position: absolute;
    top: 170px;
    right: 0;
    width: 98px;
    height: 36px;
    justify-content: center;
  }
}

//footer
.footer {
  background-color: #272727;
  font-weight: 400;
  display: flex;
  &__element{
  }
  &__element01 {
    margin: 28px 0px 0px 16px;
  }
  &__element02 {
    margin: -43px 0px 71px 0px;
    transform: rotate(90deg);
  }
  &__element03 {
    margin: 19px 0px 0px 80px;
  }
  &__text {
    color: $white;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
  }
  &__FollowUs {
    font-size: 10px;
    font-weight: normal;
    color: $white;
    text-decoration: none;
  }
  &__CopyRight {
    color: #AEAEAE;
    font-size: 8px;
    font-weight: normal;
    margin: 25px 0px 32px 0px;
  }
  &__icon {
    color: $white;
    text-decoration: none;
    margin: 8px 0;
    display: block;
  }
}