@charset "UTF-8";
$breakpoints: (
  'tb': 'screen and (min-width: 560px)',
  'pc': 'screen and (min-width: 960px)',
) !default;
@mixin mq($breakpoint: tb) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

//Premise
$main: #6B8EF0;
$sub: #003F70;
$white: #FFFFFF;
$OffWhite: #F3F3F7;
$black: #141414;
$gray: #767676;
$DarkGray: #393E42;

// Variables
$container-bg: #FFFFFF;
$font-size-base: 14px;
$line-height-computed: 1.9;
$lines-to-show: 3;

* {
  overflow-x: hidden;
  margin: 0;
}
body {
  font-family: "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $black;
}

//Text
h1 {
  font-size: 18px;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 32px;
  }
}
h2 {
  font-size: 14px;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 24px;
  }
}
h3 {
  font-size: 12px;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 20px;
  }
}
h4 {
  font-size: 10px;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 16px;
  }
}
p {
  font-weight: normal;
  color: $gray;
  @include mq() {
  }
  @include mq(pc) {
    font-size: 18px;
  }
}
a{
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}
//Molecules
.btn {
  font-size: 14px;
  font-weight: 500;
  color: $white;
  background-color: $black;
  margin: 24px 24px 40px;
  padding: 12px auto;
}
.btn--slack {
}
.btn--GoogleCalender {
}

//FirstView
.FirstView {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  text-align: center;
  &__LogoLine {
    background-image: url(../images/logoline.png);
    background-repeat: repeat-x;
    border: 0;
    height: 70px;
    width: 100%;
  }
  &__items{
    height: 65%;
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
  }
  &__logo{
    left: 25%;
    top: 38%;
    width: 193px;
    height: 110px;
  }
  &__text{
    display: block;
    font-family: "Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
    font-size: 14px;
    color: $white;
    background-color: $main;
    margin: 0 auto;
    letter-spacing: 1px;
    padding: 3px 5px;
    margin-top: 12px;
    }
  &__text01{
    width: 205px;
  }
  &__text02{
    width: 235px;
  }
  &__next{
    font-family: "Staatliches", "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
    font-size: 24px;
    color: $white;
    text-decoration: none;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 56px;
  }
  &__icon{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 36px;
  }
  &__video{
    position: absolute;
    top: -15%;
    z-index: -1;
  }
}

//header
.header{
  position: relative;
  height: 46px;
  &__logo {
    position: absolute;
    width: 43.25px;
    margin: 11px auto;
    right: 0;
    left: 0;
  }
  &__menu{
    width: 25px;
    height: 11px;
    position: absolute;
    right: 17px;
    margin: 17px 0;
  }
  &__MenuLine{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 3px;
    background: #000;
  }
  &__LineTop{
    position: absolute;
  }
  &__LineBottom{
    position: absolute;
    top: 8px;
  }
}

//Carousel
.carousel {
  background-color: $OffWhite;
  &__wrapper{
  margin: 0;
  position: relative;
  width: fit-content;
  display: flex;
  text-decoration: none;
  color: $black;
  }
  &__magazine {
    margin: 24px 20px 0 20px;
    width: 128px;
  }
  &__thumbnail {
  }
  &__numbering {
  }
  &__title {
  }
}

//Recommend
.recommend {
  &__wrapper{
    margin: 0 auto;
    padding: 0 16px;
    @include mq() {
      max-width: 660px;
    }
    @media screen and (min-width:1068px) {
      max-width: initial;
      padding: initial;
      margin: auto;
      display: flex;
      width: 1036px;
    }
  }
  &__thumbnail {
    width: 100%;
    margin-top: 40px;
    @include mq() {
    }
    @media screen and (min-width:1068px) {
      margin-top: 104px;
      width: 580px;
    }
  }
  &__sentence{
    margin-left: 5px;
    @include mq() {
    }
    @media screen and (min-width:1068px) {
      margin-top: 104px;
      width: 432px;
    }
  }
  &__numbering {
    background-color: $DarkGray;
    padding: 6px 8px;
    color: $white;
    font-weight: 500;
    border-radius: 22px;
    width: fit-content;
    margin-top: 7px;
    @include mq() {
    }
    @media screen and (min-width:1068px) {
      font-size: 19px;
    }
  }
  &__title{
    margin-top: 8px;
    text-align: justify;
  }
  &__text {
    margin-top: 8px;
    text-align: justify;
  }
  &__icon {
    display: block;
    margin: 16px auto 8px;
    @include mq() {
    }
    @media screen and (min-width:1068px) {
      margin-bottom: 80px;
    }
  }
}

//article
.article {
  margin: 0 auto;
  padding: 0 16px;
  place-content: center;
  @include mq() {
    max-width: 640px;
  }
  @include mq(pc) {
    display: flex;
    flex-wrap: wrap;
    max-width: initial;
    max-width: 1160px;
  }
  &__wrapper {
    @include mq() {
    }
    @include mq(pc) {
      margin: 0 12px;
      width: 30%;
    }
  }
  &__thumbnail {
    margin-top: 56px;
    width: 100%;
    height: auto;
  }
  &__sentence{
  }
  &__numbering {
    background-color: $DarkGray;
    padding: 6px 8px;
    color: $white;
    font-weight: 500;
    border-radius: 22px;
    width: fit-content;
    margin-top: 12px;
  }
  &__title {
    margin-top: 8px;
    text-align: justify;
  }
  &__text {
    margin-top: 8px;
    text-align: justify;
    font-size: $font-size-base;
    height: $font-size-base * $line-height-computed * $lines-to-show;
    line-height: $line-height-computed;
    position: relative;
    &:before,
    &:after {
      background: #FFFFFF;
      position: absolute;
    }
    &:before {
      content: "...";
      top: $font-size-base * $line-height-computed * ($lines-to-show - 1);
      right: 1.5px;
    }
    &:after {
      content: "";
      height: 100%;
      width: 100%;
    }
    overflow-y: hidden;
  }
}

//footer
.footer {
  background-color: #272727;
  font-weight: 400;
  margin-top: 64px;
  &__container{
    position: relative;
    padding-top: 28px;
    padding-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 44px;
    @include mq() {
      margin-bottom: 56px;
    }
    @include mq(pc) {
      display: flex;
      align-items: center;
      margin-left: 32px;
      margin-right: 32px;
      padding-top: 48px;
      padding-bottom: 40px;
      margin-bottom: 72px;
    }
  }
  &__LogoWrapper{
    display: none;
    @include mq() {
    }
    @include mq(pc) {
      display: block;
    }
  }
  &__logo {
    width: 85px;
  }
  &__nav {
    @include mq() {
    }
    @include mq(pc) {
      display: flex;
      flex: 1 1 auto;
      margin: auto 0 auto 56px;
    }
  }
  &__text {
    display: flex;
    color: $white;
    font-weight: 500;
    margin-bottom: 12px;
    @include mq() {
    }
    @include mq(pc) {
      font-size: 12px;
      margin-bottom: initial;
    }
  }
  &__border{
    display: none;
    @include mq() {
    }
    @include mq(pc) {
      display: flex;
      font-size: 12px;
      margin: 0 8px;
    }
  }
  &__about{
  }
  &__social{
    display: flex;
    position: absolute;
    top: 28px;
    right: 0;
    justify-content: flex-end;
    align-items: flex-start;
    @include mq() {
    }
    @include mq(pc) {
      position: initial;
      align-items: center;
    }
  }
  &__SocialTitle {
    font-size: 10px;
    font-weight: normal;
    color: $white;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    margin-right: 8px;
    @include mq() {
    }
    @include mq(pc) {
      font-size: 9px;
      writing-mode: initial;
      margin-right: initial;
    }
  }
  &__SocialItems{
    display: block;
    @include mq() {
    }
    @include mq(pc) {
      display: flex;
    }
  }
  &__SocialIcon {
    height: 24px;
    width: 24px;
    margin-bottom: 8px;
    overflow-y: hidden;
    @include mq() {
    }
    @include mq(pc) {
      height: 20px;
      width: 20px;
      margin-left: 8px;
      margin-bottom: initial;
    }
  }
  &__icon {
    @include mq() {
    }
    @include mq(pc) {
    }
  }
  &__CopyRight {
    color: #AEAEAE;
    font-size: 8px;
    font-weight: normal;
    margin-top: 12px;
    @include mq() {
    }
    @include mq(pc) {
      font-size: 9px;
      text-align: right;
    }
  }
}

//navimenu
.nav {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 44px;
  background-color:rgba(255, 255, 255, 0.7);
  box-shadow: 0px  -2px 4px -2px #C4C4C4;
  @include mq() {
    height: 56px;
  }
  @include mq(pc) {
    height: 72px;
    box-shadow: 0px  -8px 20px -16px #C4C4C4;
  }
  &__contents{
    align-items: center;
    display: flex;
  }
  &__list{
    margin: 0 auto;
  }
  &__link{
    font-family: "Staatliches", "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: $black;
    text-decoration: none;
    display: block;
    text-align-last: center;
    @include mq() {
    }
    @include mq(pc) {
      font-size: 25px;
    }
  }
  &__LinkSub{
    display: none;
    font-family: "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
    font-size: 18px;
    letter-spacing: 0.7px;
    color: $black;
    text-decoration: none;
    @include mq() {
      display: block;
      text-align: center;
      font-size: 8px;
    }
    @include mq(pc) {
      font-size: 10px;
    }
  }
  &__LinkSelectWrapper {
    color: $white;
    display: block;
    background-color: rgba(51, 51, 51, 0.9);
    padding: 11px;
    border-radius: 2px;
    justify-content: center;
    @include mq() {
      padding: 10px;
    }
    @include mq(pc) {
      font-size: 25px;
      padding: 13px;
    }
  }
  &__LinkSelect {
    color: $white;
    margin: auto;
  }
  &__border{
    font-family: "Noto Sans CJK JP";
    font-weight: bold;
    font-size: 14px;
    color: $black;
    text-decoration: none;
    @include mq() {
      display: flex;
    }
    @include mq(pc) {
    }
  }
}