@charset "UTF-8";
* {
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #141414;
}

h1 {
  font-size: 18px;
}

@media screen and (min-width: 960px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 14px;
}

@media screen and (min-width: 960px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 12px;
}

@media screen and (min-width: 960px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 10px;
}

@media screen and (min-width: 960px) {
  h4 {
    font-size: 16px;
  }
}

p {
  font-weight: normal;
  color: #767676;
}

@media screen and (min-width: 960px) {
  p {
    font-size: 18px;
  }
}

.btn {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #141414;
  margin: 24px 24px 40px;
  padding: 12px auto;
}

.FirstView {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
  text-align: center;
}

.FirstView__LogoLine {
  background-image: url(../images/logoline.png);
  background-repeat: repeat-x;
  border: 0;
  height: 70px;
  width: 100%;
}

.FirstView__items {
  height: 65%;
  position: absolute;
  top: 35%;
  right: 0;
  left: 0;
}

.FirstView__logo {
  left: 25%;
  top: 38%;
  width: 193px;
  height: 110px;
}

.FirstView__text {
  display: block;
  font-family: "Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #6B8EF0;
  margin: 0 auto;
  letter-spacing: 1px;
  padding: 3px 5px;
  margin-top: 12px;
}

.FirstView__text01 {
  width: 205px;
}

.FirstView__text02 {
  width: 235px;
}

.FirstView__next {
  font-family: "Staatliches", "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 56px;
}

.FirstView__icon {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 36px;
}

.FirstView__video {
  position: absolute;
  top: -15%;
  z-index: -1;
}

.header {
  position: relative;
  height: 46px;
}

.header__logo {
  position: absolute;
  width: 43.25px;
  margin: 11px auto;
  right: 0;
  left: 0;
}

.header__menu {
  position: absolute;
  right: 17px;
  margin: 2px 0;
}

.header__MenuIcon {
  position: relative;
  width: 25px;
  height: 3px;
  color: #000;
  background: currentColor;
  margin-top: 25px;
}

.header__MenuIcon:before {
  content: "";
  position: absolute;
  top: -8px;
  width: 100%;
  height: 100%;
  background: currentColor;
}

.carousel {
  background-color: #F3F3F7;
}

.carousel__wrapper {
  margin: 0;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #141414;
}

.carousel__magazine {
  margin: 24px 20px 0 20px;
  width: 128px;
}

.recommend__wrapper {
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 560px) {
  .recommend__wrapper {
    max-width: 660px;
  }
}

@media screen and (min-width: 1068px) {
  .recommend__wrapper {
    max-width: initial;
    padding: initial;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1036px;
  }
}

.recommend__thumbnail {
  width: 100%;
  margin-top: 40px;
}

@media screen and (min-width: 1068px) {
  .recommend__thumbnail {
    margin-top: 104px;
    width: 580px;
  }
}

.recommend__sentence {
  margin-left: 5px;
}

@media screen and (min-width: 1068px) {
  .recommend__sentence {
    margin-top: 104px;
    width: 432px;
  }
}

.recommend__numbering {
  background-color: #393E42;
  padding: 6px 8px;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 7px;
}

@media screen and (min-width: 1068px) {
  .recommend__numbering {
    font-size: 19px;
  }
}

.recommend__title {
  margin-top: 8px;
  text-align: justify;
}

.recommend__text {
  margin-top: 8px;
  text-align: justify;
}

.recommend__icon {
  display: block;
  margin: 16px auto 8px;
}

@media screen and (min-width: 1068px) {
  .recommend__icon {
    margin-bottom: 80px;
  }
}

.article {
  margin: 0 auto;
  padding: 0 16px;
}

@media screen and (min-width: 560px) {
  .article {
    max-width: 640px;
  }
}

@media screen and (min-width: 960px) {
  .article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: initial;
  }
}

@media screen and (min-width: 960px) {
  .article__wrapper {
    margin: 0 20px;
    width: 30%;
  }
}

.article__thumbnail {
  margin-top: 56px;
  width: 100%;
  height: auto;
}

.article__numbering {
  background-color: #393E42;
  padding: 6px 8px;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 12px;
}

.article__title {
  margin-top: 8px;
  text-align: justify;
}

.article__text {
  margin-top: 8px;
  text-align: justify;
  font-size: 14px;
  height: 79.8px;
  line-height: 1.9;
  position: relative;
}

.article__text:before, .article__text:after {
  background: #FFFFFF;
  position: absolute;
}

.article__text:before {
  content: "...";
  top: 53.2px;
  right: 0;
}

.article__text:after {
  content: "";
  height: 100%;
  width: 100%;
}

.footer {
  margin-top: 64px;
  background-color: #272727;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__element01 {
  margin: 28px 0px 32px 16px;
}

.footer__element02 {
  margin: -42px 0px 102px 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.footer__element03 {
  margin: 19px 16px 54px 80px;
}

.footer__text {
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  display: block;
  margin-bottom: 12px;
}

.footer__FollowUs {
  font-size: 10px;
  font-weight: normal;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__CopyRight {
  color: #AEAEAE;
  font-size: 8px;
  font-weight: normal;
  margin: 25px 0px 32px 0px;
}

.footer__icon {
  color: #FFFFFF;
  text-decoration: none;
  margin: 8px 0;
  display: block;
}

.nav {
  bottom: 0;
  position: fixed;
  width: -webkit-fill-available;
  height: 44px;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.7);
}

.nav__contents {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.nav__list {
  margin: auto;
}

.nav__link {
  font-family: "Staatliches", "Noto Sans CJK JP","Yu Gothic", "游ゴシック", "游ゴシック体", sans-serif;
  font-size: 18px;
  color: #141414;
  text-decoration: none;
  width: 52px;
}

.nav__link--select {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(51, 51, 51, 0.9);
  padding: 11px;
  border-radius: 2px;
}

.nav__border {
  margin-left: 18px;
}

.nav__square {
  position: absolute;
  bottom: 0px;
  left: 22px;
  width: 72px;
  height: 44px;
  border-radius: 2px;
  background-color: #333333;
  opacity: 90%;
}
/*# sourceMappingURL=top_sp.css.map */